em {
	line-height: 1.2;	
}

.delete-form {
	display: inline;
}

/* Google Maps */
#map {
    height: 400px;
    width: 100%;
}

.weather-card {
	position: absolute;
	right: 0px; top: 0px;
	z-index: 1000;
	opacity: 0.9;
}

.weathercondition {
	max-width: 50px;
	max-height: auto;
	filter: contrast(90%);
	margin-top: -0.4rem;
	margin-bottom: -0.4rem;
}

.weather-description {
	font-size: 0.7rem;
}

.camp-deck {
	display:flex;
	flex-wrap: wrap;
}

.camp-card-small {
	max-height: 20rem;
}

.camp-body-small {
	display: flex;
	justify-content: center;
	align-items: center;
}

.camp-photo {
	position: relative
}

.camp-photo-small {
	max-height: 10rem;
}

.camp-form {
	width: 30%;
	margin: 25px auto;
}

.purple {
	color: #542788;
}

.darkblue {
	color: #053061;
}

.blue {
	color: #2166ac;
}

.lightblue {
	color: #92c5de;
}

.green {
	color: #7fbc41;
}

.yellow {
	color: #dfc27d;
}

.orange {
	color: #ff9a38;
}

.red {
	color: #d73027;
}